.maindiv {
    background: #5d6785;
    font-size: 24px;
    width: 100%;
    height: 100%;
}
.div2 {
    background: #8a6c8b;
    width: 25%;
    float: left;
}
.div2 ul{
    background: #875b8b;
    width: 25%;
    float: left;
    list-style:none;
    font-size: 28px;
}
.div2 button{
    background-color: white;
    color: black;

}
.div2 button:hover{

    background-color: #f40091;
    color: white;
}
.adding{
    position: absolute;
    background: #f44336;
    top:400px;
}
