.form{
    background: beige;
    position:relative;
    left: 25%;
    width: 50%;
    height: 400px;
    top:10px;
    margin: 3px;

}
.result{
    background: #eabef5;
    position:relative;
    left: 25%;
    width: 50%;
    height: 400px;
    top:10px;
    margin: 3px;

}
.titel{
    font-size: 20px;
    position: relative;
    left: 34%;
}
.inputfeald{
    background: beige;
    border: none;
    border-bottom:1px solid saddlebrown ;
    position: relative;
    top:-23px;
    left:138px;
    display: inline;


}
.elemant{
    float: left;
}
.name{
    position: relative;
    top:23px;

}
.age{
    position: relative;
    left:-172px;
    top:73px;
}
.inputage{
    background: beige;
    border: none;
    border-bottom:1px solid saddlebrown ;
    position: relative;
    top:16px;
    left:-39px;
    display: inline;


}
